body{
  font-family: 'Noto Sans JP', sans-serif;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  font-family: 'Noto Sans JP', sans-serif;
}


.attention p{
  font-family: 'Noto Sans JP', sans-serif;
  color: #ff0000;
  text-align: center;
  font-weight: bold;
}
.SideBySide h1{
 display:inline-block;
 vertical-align:top; /*縦方向の揃え位置を指定*/
 /* text-align: center; */
 color: #4682b4;

}

.SideBySide{
  display:flex;
}
header li {
  list-style: none;
}
header h1 {
	/* float: left;
	padding: 6px 0; */
  /* top: 0px;
  left: 0px; */
top: 0%;
left: 0%;
}
header h1 a {
		display: block;
		/* width: 100px;
		height: 100px; */
    width: 20vh;
		height: 20vh;
		font-size: 0;
		/* background: url(https://i.ibb.co/nPzdSNx/image-4425.jpg) left top/120px auto no-repeat; */
    background: url(https://i.ibb.co/nPzdSNx/image-4425.jpg) left top/17vh auto no-repeat;
}
.dropdown {
  display: flex;
}

.menu {
  /* width: 300px; */
  width: 100%;
  /* height: 40px; */
  height: 10vh;
  text-align: center;
  position:sticky;
  top: 0%;
}

.menu-title {
  background: #c0c0c0;
  color: #000000;
}

.sub-menu {
  display: none;
  background: #dcdcdc;
  position: relative;
}

.sub-menu > ul {
  list-style: none;
  margin: 0vh;
  padding: 0vh;
  /* width: 300px; */
  width: 50vh;
}

.sub-menu > ul > li > a {
  text-decoration: none;
  color: #000000;
}

.menu:hover .sub-menu {
  display: inline-block;
}

.menu:active .sub-menu {
  display: inline-block;
}

.title-box-red{
  margin: 1em 0;
  border: 0.11em solid #ff4500;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.title-box-red-title{
  color: #ffffff;
  font-weight: bold;
  background-color: #ff4500;
  /* padding: 4px 6px; */
  padding: 1vh 1vh;
  text-align: center;
}

.title-box-red p{
  margin: 0;
  padding: 1em;
  text-align: center;
}
.title-box-red h1{
  margin: 0;
  padding: 1em;
  text-align: center;
}


.title-box-blue{
  margin: 1em 0;
  border: 0.1em solid #4169e1;
  /* letter-spacing: .3px; */
  letter-spacing: 0.1em;
}

.title-box-blue-title{
  color: #ffffff;
  font-weight: bold;
  background-color: #4169e1;
  /* padding: 4px 6px; */
  padding: 1vh 1vh;
  text-align: center;
}

.title-box-blue p{
  margin: 0;
  padding: 1em;
  text-align: center;
}


.cp_hr01 {
	border-width: 0.1em 0 0 0;
	border-style: solid;
	border-color: #c0c0c0;
}


.header {
  background-color: #26d0c9;
  color: #fff;
  /* height: 90px; */
  height: 40vh;
}

.copy-container2 img{
  width: 100%;
}

.copy-container2 span {
  color: #ff4a4a;
}
.copy-container2 {
  position: relative;
}

.copy-container2 p {
  position: absolute;
  color: white;
  /* font-size: 20px; */
  font-size: 5vh;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
   /* writing-mode: vertical-rl; */
  /*文字の装飾は省略*/
  }

.copy-container2 h1 {
    position: absolute;
    font-size: 15vh;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
     /* writing-mode: vertical-rl; */
    /*文字の装飾は省略*/
    }


.copy-container img{
      width: 100%;
  }

.copy-container span {
      color: #ff4a4a;
    }
.copy-container {
      position: relative;
      }

.copy-container h1 {
        position: absolute;
        font-size: 12vh;
        color: black;
        top: 50%;
        left: 47%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-weight: bold;  /* 太文字にする */
        text-shadow: 1px 1px 0 #808080,2px 2px 0 #808080,3px 3px 0 #808080;  /* 影を3重に指定 */

         /* writing-mode: vertical-rl; */
        /*文字の装飾は省略*/
        }

.contents{
      position: relative;
    }

.copy-container img {
  width: 100%;
  }

.footer {
  background-color: #000000;
  color: #fff;
  /* height:500px;
  padding: 40px; */
  height: 50vh;
  padding: 10vh;
  font-family: 'Noto Sans JP', sans-serif;
  /* position: absolute;
  bottom: 0; */
  margin-top: auto;
}

.footer-logo img{
  float: left;
  /* font-size: 16px; */
  /* width: 32px; */
  width: 8vh;
 object-fit: cover;
}

.footer-logo2 h1{
    font-family: 'Noto Sans JP', sans-serif;
}

.footer-logo2 h2{
  font-family: 'Noto Sans JP', sans-serif;
}
.footer-logo2 p{
   text-align: center;
}
.box-for-music{
  /* border: solid 3px #000; */
  background-color: rgba(192, 192, 192, 0.65);
  color: white;
  position: absolute;
  /* font-size: 20px; */
  font-size: 1.4em;
  top: 40%;
  left: 8%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;

}
.contents img {
  width: 49.7%;
  }
  .box-for-group{
    /* border: solid 3px #000; */
    background-color: rgba(192, 192, 192, 0.65);
    color: white;
    position: absolute;
    /* font-size: 20px; */
    font-size: 1.4em;
    top: 40%;
    left: 66.5%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;

  }


  .btn{
      /* width:200px;
      height:40px;
      line-height:100px; */
      width:21vh;
      height:5vh;
      line-height:5vh;
  }
  .btn a{
      display:block;
      width:20vh;
      height:4vh;
      text-decoration: none;
      background:#FFFBFA;
      text-align:center;
      color:#040404;
      /* font-size:25px; */
      font-size:1em;
      /* font-weight:bold; */
      /* box-shadow:5px 5px 0px 0px #DEDEDE ; */
      box-shadow:0.5vh 0.5vh 0 0 #DEDEDE ;
  }
  .btn a:hover{
      background:#ADADAD;
      color:#010101;
      /* margin-left:5px;
      margin-top:5px; */
      margin-left:0.5vh;
      margin-top:0.5vh;
      box-shadow:none;
  }

 .btn2{
      /* width:200px;
      height:40px;
      line-height:40px; */
      width:21vh;
      height:5vh;
      line-height:5vh;
  }
 .btn2 a{
      display:block;
      width:20vh;
      height:4vh;
      text-decoration: none;
      background:#FFFBFA;
      text-align:center;
      color:#040404;
      /* font-size:25px; */
      font-size:1em;
      /* font-weight:bold; */
      /* box-shadow:5px 5px 0px 0px #DEDEDE ; */
      box-shadow:0.5vh 0.5vh 0 0 #DEDEDE ;
  }
  .btn2 a:hover{
    background:#ADADAD;
    color:#010101;
    /* margin-left:5px;
    margin-top:5px; */
    margin-left:0.5vh;
    margin-top:0.5vh;
    box-shadow:none;
  }

  .tbox{
    width:580px; padding:10px;
    height:160px;
  }


.container-class-group p{
  text-align: center;
  font-size: 30px;
}
.container-class-group h1{
  text-align: center;
    font-style: bold;
  font-size: 90px;
  background: rgb(107,7,238);
  background: linear-gradient(90deg, rgba(107,7,238,1) 0%, rgba(102,150,231,1) 35%, rgba(0,255,124,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: #333;//非対応のブラウザでの文字色を設定
 background: url(https://i.ibb.co/mBLDkwZ/image0-4535.jpg);//使用する背景画像のURL
 -webkit-background-clip: text;//テキストでくり抜く
 -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示 */
}

.container-yushi-group p{
  text-align: center;
  font-size: 30px;
}
.container-yushi-group h1{
  text-align: center;
    font-style: bold;
  font-size: 90px;
  background: rgb(37,7,238);
  background: linear-gradient(90deg, rgba(37,7,238,1) 0%, rgba(199,102,231,1) 35%, rgba(255,0,116,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: #333;//非対応のブラウザでの文字色を設定
 background: url(https://i.ibb.co/mBLDkwZ/image0-4535.jpg);//使用する背景画像のURL
 -webkit-background-clip: text;//テキストでくり抜く
 -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示 */
}

.container-keion-group p{
  text-align: center;
  font-size: 30px;
}
.container-keion-group h1{
  text-align: center;
  font-size: 90px;
  font-style: bold;
/*
   background-image: url("https://i.ibb.co/4F1GH8j/image1-4543.jpg");
   -webkit-background-clip: text;       /* 画像を文字で切り抜く指定 */
   /* color: transparent;                  /* 文字色を透明にする */

background: rgb(238,26,7);
background: linear-gradient(90deg, rgba(238,26,7,1) 0%, rgba(231,102,224,1) 35%, rgba(255,205,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #333;//非対応のブラウザでの文字色を設定
 background: url(https://i.ibb.co/mBLDkwZ/image0-4535.jpg);//使用する背景画像のURL
 -webkit-background-clip: text;//テキストでくり抜く
 -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示 */
}
.mv-yushi{
float: left;
margin: 0px 60px 60px 50px;
padding: 0;
overflow: hidden;
background-color: #fffafa;
}
/* iframe[src$=".pdf"]{
    width:50%;
    height:80vh;
} */
.mv-yushi p{
  font-size: 25px;

}

.mv-keion{
float: left;
margin: 0px 60px 60px 50px;
padding: 0;
overflow: hidden;
background-color: #fffaf0;
}
/* iframe[src$=".pdf"]{
    width:50%;
    height:80vh;
} */
.mv-keion p{
  font-size: 25px;

}

.mv-class{
float: left;
margin: 0px 60px 60px 50px;
padding: 0;
overflow: hidden;
background-color: #f8f8ff;
}
/* iframe[src$=".pdf"]{
    width:50%;
    height:80vh;
} */
.mv-class p{
  font-size: 25px;

}


.about-school-main h1{
  text-align: center;
}
.about-school-main p{
  text-align: center;
}
.about-counsil-main h1{
  text-align: center;
}
.about-counsil-main p{
  text-align: center;
}
.about-counsil-main h2{
  text-align: center;
}
.about-counsil-main img{
  width: 100%;
}
.contribution-schedule-main h1{
  text-align: center;
}

.contribution-schedule-main p{
  text-align: center;
}
.box5, .box6, .box7 {
  float: left;
  border-color: blue;
  width: 33.3333%;
}

/*
.boxA {
  border: none;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
} */

.box-kyouryoku {
  float: left;
  border-color: yellow;
  width: 100%;
}

#typewriter::after {
    content: "|";
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#typewriter{
  position: absolute;
  font-size: 480%;
  color: black;
  top: 50%;
  left: 52%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;  /* 太文字にする */
  text-shadow: 1px 1px 0 #808080,2px 2px 0 #808080,3px 3px 0 #808080;  /* 影を3重に指定 */
}


.delayed-image {
	/* じわっと画像が表示される */
 	animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}

/* じわっと画像が表示される ---------　一度追加していたら不要*/
@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
}

/*古いブラウザ用　---------　一度追加していたら不要*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.gnav {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #9fb7d4;
}
.gnav .nav {
  /* width: 300px; */
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.gnav .nav li {
  position: relative;
  list-style: none;
  box-sizing: border-box;
  border-left: 1px solid #eee;
}
.gnav .nav li a {
  display: block;
  width: 300px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 3.2;
  background: #9fb7d4;
  box-sizing: border-box;
  text-decoration: none;
}
.gnav .nav li:first-child {
  border-left: 1px solid #eee;
}
.gnav .nav li:last-child {
  border-right: 1px solid #eee;
}
.gnav .nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.gnav .nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.gnav .nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.gnav .nav li ul li {
  overflow: hidden;
  height: 0;
}
.gnav .nav li ul li a {
  border-top: 1px solid #eee;
}
.gnav .nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
  z-index: 10; /* TADASHI */
}
  .gnav .nav li ul li ul {
    top: 0;
    left: 20px;
  }
  .gnav .nav li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
  }
  .gnav .nav li ul li ul li:hover > a {/*layer-3*/
    color: pink;
    background: #afc6e2;
  }
  .gnav .nav li ul li ul.left {
    top: 0;
    left: -100px;
  }
  .gnav .nav li ul li ul.left:before,/*layer-2-left▷*/
  .gnav .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 100px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
  }
  .gnav .nav li ul li ul.left li:hover > a {/*layer-2-left*/
    color: pink;
    background: #afc6e2;
  }
  .gnav .nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
  }

.toin-contest h1{
color: #ff1493;
text-align: center;
font-weight: bold;
}
.online-class-contest h2{
	color: red;
  text-align: center;
}
.online-class-contest p{
	text-align: center;
}
.music-contest h2{
  color: red;
  text-align: center;
}
.music-contest p{
  text-align: center;
}
.yushi-contest h2{
  color: red;
  text-align: center;
}
.yushi-contest p{
  text-align: center;
}
.offline-class-contest h2{
  color: red;
  text-align: center;
}
.offline-class-contest p{
  text-align: center;
}
.lanking h2{
  color: red;
  text-align: center;
}
#typewriter2::after {
    content: "|";
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#typewriter2{
  position: absolute;
  font-size: 300%;
  color: #ff8c00;
  top: 50%;
  left: 52%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;  /* 太文字にする */
  text-shadow: 1px 1px 0 #808080,2px 2px 0 #808080,3px 3px 0 #808080;  /* 影を3重に指定 */
}
.about-contest p{
  text-align: center;
}
.title-contest h1{
  text-align: center;
  background: linear-gradient(transparent 50%, #dcdcdc 80%);
}
.about-contest h1{
  text-align: center;
}
.about-contest-img {
  text-align: center;
}
.about-contest h2{
  text-align: center;
}
.about-contest h3{
  text-align: center;
}
.lanking p{
 text-align: center;
}
.file-list{
	position: relative;
}
.file-list img{
  width: 49.7%;
}
.box-for-class{
  /* border: solid 3px #000; */
  background-color: rgba(192, 192, 192, 0.65);
  color: white;
  position: absolute;
  /* font-size: 20px; */
  font-size: 1.4em;
  top: 75%;
  left: 10%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
 .btn3{
      /* width:200px;
      height:40px;
      line-height:40px; */
      width:21vh;
      height:5vh;
      line-height:5vh;
  }
  .btn3 a{
      display:block;
      width:20vh;
      height:4vh;
      text-decoration: none;
      background:#FFFBFA;
      text-align:center;
      color:#040404;
      /* font-size:25px; */
      font-size:1em;
      /* font-weight:bold; */
      /* box-shadow:5px 5px 0px 0px #DEDEDE ; */
      box-shadow:0.5vh 0.5vh 0 0 #DEDEDE ;
  }
  .btn3 a:hover{
    background:#ADADAD;
    color:#010101;
    /* margin-left:5px;
    margin-top:5px; */
    margin-left:0.5vh;
    margin-top:0.5vh;
    box-shadow:none;
  }
